@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

* {
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: #111214;
    font-family: Poppins, sans-serif;
    font-size: 1.6vh;
    color: #fff;
}

input {
    font-family: Poppins, sans-serif;
    font-size: 1.6vh;
    color: white;
}

button {
    font-family: Poppins, sans-serif;
    font-size: 1.6vh;
    color: white;
}

textarea {
    font-family: Poppins, sans-serif;
    font-size: 1.6vh;
    color: white;
}

::-webkit-input-placeholder {
    color: #B9BBBE;
    font-family: Poppins, sans-serif;
}

::-webkit-textarea-placeholder {
    color: #B9BBBE;
    font-family: Poppins, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}

.gray {
    color: #B9BBBE;
}

#space2 {
    height: 2vh;
}

#space5 {
    height: 5vh;
}

a{
    text-decoration: none;
    color: #A569BD;
    transition: 0.3s;
}
a:hover{
    color:  #7d3c98;
}