#body {
    width: 100vw;
    min-height: 90vh;
    display: grid;
    grid-template-columns: 25vw 50vw 25vw;
}

#corpo_principal {
    width: 50vw;
}

#postarform {
    background-color: #202225;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    border-radius: 0.5vh;
    width: 50vw;
    height: 20vh;
    display: grid;
    grid-template-columns: 35vw 3vw 12vw;
    grid-template-rows: 15vh 5vh;
}

#postararea {
    height: 17vh;
    width: 32vw;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    background-color: #202225;
    border: none;
    resize: none;
    grid-row-start: 1;
    grid-row-end: 3;
}

#postimagepreview {
    grid-column-start: 2;
    grid-column-end: 4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 12vh;
    width: 12vw;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    border-radius: 0.5vh;
}

#postarlab {
    background-image: url(../img/icons/up.png);
    background-size: 3vh;
    background-position: center;
    background-repeat: no-repeat;
    height: 4vh;
    width: 4vh;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}

#postarlab:hover {
    background-image: url(../img/icons/up_hover.png);
}

#postarfile {
    display: none;
}

#postarbtn {
    background-color: #40444B;
    border: none;
    border-radius: 0.5vh;
    height: 4vh;
    width: 10vw;
    margin-left: 0.5vw;
    transition: 0.3s;
}

#postarbtn:hover {
    background-color: #2F3136;
}

#postagem {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #202225;
    min-height: 15vh;
    display: grid;
    grid-template-rows: 10vh auto 5vh;
    border-radius: 0.5vh;
}

#postheader {
    display: grid;
    grid-template-columns: 12vh auto;
}

.icon {
    height: 8vh;
    width: 8vh;
    margin-top: 0.5vh;
    margin-left: 1vw;
    border: 0.5vh solid #40444B;
    border-radius: 100%;
    display: grid;
    transition: 0.3s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon:hover {
    border-color: #2F3136;
}

.pubname {
    margin-top: 2.5vh;
}

.invico {
    border: none;
    background-color: #0000;
}

.pubtxt {
    width: 37vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vh;
    text-align: justify;
    text-overflow: ellipsis;
}

.foto {
    width: 48vw;
    min-height: 25vh;
    max-height: 50vw;
    margin-left: 1vw;
    border: none;
    border-radius: 0.5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh
}

.acoes {
    display: grid;
    grid-template-columns: 1vw 2.5vw 7vw auto;
}

.curtir {
    margin-top: 1vh;
    height: 3vh;
    background-image: url(../img/icons/fav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    display: grid;
}

.curtir:hover {
    background-image: url(../img/icons/fav_hover.png);
}

.curtirf {
    margin-top: 1vh;
    height: 3vh;
    background-image: url(../img/icons/ffav.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
    display: grid;
}

.curtirf:hover {
    background-image: url(../img/icons/ffav_hover.png);
}

.curtidas {
    margin-top: 0.75vh;
    font-weight: 200;
}

.compartilhar {
    margin-top: 1vh;
    height: 3vh;
    background-image: url(../img/icons/reply.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s
}

.compartilhar:hover {
    background-image: url(../img/icons/reply_hover.png);
}

.pubview {
    height: 3vh;
    display: grid;
    margin-top: 1vh;
}

.postvbtn {
    width: 15vw;
    margin-left: 23.5vw;
    background-color: #40444B;
    border: none;
    border-radius: 0.5vh;
    transition: 0.3s;
}

.postvbtn:hover {
    background-color: #2F3136;
}

#end {
    text-align: center;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}

.imabot {
    background-color: #0000;
    border: none;
    display: grid;
    overflow-y: hidden;
    align-content: center;
}

.imageviewer {
    width: 100%;
    max-height: 48vw;
    border-radius: 0.5vh;
    object-fit: cover;
}

.invbtn{
    background-color: #0000;
    border: none;
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {

    #body {
        grid-template-columns: 15vw 70vw 15vw;
    }

    #corpo_principal {
        width: 70vw;
    }

    #postarform {
        width: 70vw;
        grid-template-columns: 45vw 5vw 15vw;
        grid-template-rows: 15vh 5vh;
    }

    #postararea {
        height: 17vh;
        width: 43vw;
    }

    #postimagepreview {
        width: 22vw;
    }

    #postarbtn {
        width: 18vw;
    }

    .icon {
        margin-left: 1.5vw;
    }

    .pubname {
        margin-top: 3vh;
        text-overflow: ellipsis;
        font-size: 2.2vh;
    }

    .pubtxt {
        width: 68vw;
    }

    .foto {
        width: 68vw;
        min-height: 25vh;
        max-height: 70vw;
    }

    .acoes {
        display: grid;
        grid-template-columns: 1.5vw 2.5vw 4.5vw 2.5vw auto;
    }

    .postvbtn {
        width: 20vw;
        margin-left: 37.5vw;
        background-color: #40444B;
        border: none;
        border-radius: 0.5vh;
        transition: 0.3s;
    }

    #end {
        text-align: center;
        margin-top: 7.5vh;
        margin-bottom: 7.5vh;
    }

    .imageviewer {
        max-height: 68vw;
    }

}

@media only screen and (min-width: 1px) and (max-width: 425px) {

    #body {
        grid-template-columns: 5vw 90vw 5vw;
    }

    #corpo_principal {
        width: 90vw;
    }

    #postarform {
        width: 90vw;
        grid-template-columns: 60vw 10vw 20vw;
    }

    #postararea {
        height: 17vh;
        width: 58vw;
    }

    #postimagepreview {
        width: 27vw;
    }

    #postarbtn {
        width: 18vw;
    }

    .icon {
        margin-left: 1.5vw;
    }

    .pubname {
        margin-top: 3.5vh;
        text-overflow: ellipsis;
        font-size: 1.5vh;
    }

    .pubtxt {
        width: 85vw;
        margin-left: 2.5vw;
    }

    .foto {
        width: 88vw;
        min-height: 25vh;
        max-height: 90vw;
    }

    .acoes {
        grid-template-columns: 2.5vw 5vw 10vw 5vw auto;
    }

    .postvbtn {
        width: 30vw;
        margin-left: 35.5vw;
        background-color: #40444B;
        border: none;
        border-radius: 0.5vh;
        transition: 0.3s;
    }

    #end {
        text-align: center;
        margin-top: 7.5vh;
        margin-bottom: 7.5vh;
    }

    .imageviewer {
        max-height: 88vw;
    }

}