#corpo {
    height: 100vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: grid;
    grid-auto-rows: 25vh 50vh 25vh;
}

#logo {
    background-image: url(../img/logos/white.png);
    background-size: 20vw;
    background-position: center;
    background-repeat: no-repeat;
}

#corpo_login {
    background-color: #202225;
    border-radius: 0.5vh;
    box-shadow: 0vw 0.5vh #0007;
}

#wel {
    margin-top: 6vh;
    margin-bottom: 7vh;
}

.inp {
    height: 5vh;
    width: 30vw;
    border-radius: 0.5vh;
    background-color: #2F3136;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 26.5vw 3.5vw;
    transition: 0.3s;
    margin-bottom: 8vh;
}

.inpf {
    height: 5vh;
    width: 30vw;
    border-radius: 0.5vh;
    background-color: #40444B;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 30vw;
    margin-bottom: 2.5vh;
}

.inptxt {
    border: 0px solid #0000;
    border-radius: 0.5vh 0vh 0vh 0.5vh;
    background-color: #40444B;
}

.visibility {
    margin-top: 0.5vh;
    height: 2.5vh;
}

#vbtn {
    border: 0px solid #0000;
    background-color: #0000;
    transition: 0.3s;
}

#vbtn:hover {
    background-color: #40444B;
}

#logbtn {
    background-color: #40444B;
    border-radius: 0.5vh;
    border: 0px solid #0000;
    height: 5vh;
    width: 10vw;
    transition: 0.3s;
}

#logbtn:hover {
    background-color: #2F3136;
}

#cadbtn {
    margin-top: 11.5vh;
    background-color: #0000;
    border: 0px solid #0000;
    transition: 0.3s;
}

#cadbtn:hover {
    color: #B9BBBE;
}

@media only screen and (min-width: 426px) and (max-width: 1024px) {

    #logo {
        background-size: 35vw;
    }

    #corpo {
        width: 80vw;
    }

    .inp {
        width: 60vw;
        grid-template-columns: 50vw 10vw;
    }

    .inpf {
        grid-template-columns: 60vw;
        width: 60vw;
    }

    #logbtn {
        width: 25vw;
    }

}

@media only screen and (max-width: 425px) {

    #logo {
        background-size: 50vw;
    }

    #corpo {
        width: 90vw;
    }

    .inp {
        width: 70vw;
        grid-template-columns: 57vw 13vw;
    }

    .inpf {
        grid-template-columns: 70vw;
        width: 70vw;
    }

    #logbtn {
        width: 35vw;
    }

}