#corpo {
    min-height: 70vh;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.notdiv {
    background-color: #202225;
    min-height: 25vh;
    width: 50vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 0.5vh;
    display: grid;
    grid-template-rows: 15vh 7.5vh auto 5vh;
}

.notnav{
    display: grid;
    grid-template-columns: 17.5vh auto;
}

.notico {
    height: 12.5vh;
    width: 12.5vh;
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    border: 0.5vh solid #40444B;
    transition: 0.3s;
    display: grid;
    margin-top: 1vh;
    margin-left: 1vw;
}
.notico:hover {
    border-color: #2F3136;
}

.name{
    margin-top: 5.5vh;
}

p{
    width: 47vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: auto;
    margin-right: auto;
}

.viewbtn {
    border: none;
    background-color: #40444B;
    transition: 0.3s;
}

.viewbtn:hover {
    background-color: #202225;
}

.invbtn{
    background-color: #0000;
    border: none;
}

#end {
    text-align: center;
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
}

@media only screen and (max-width: 1024px) {

    #corpo {
        width: 70vw;
    }
    
    .notdiv {
        width: 70vw;
    }
    
    .name{
        font-size: 2.4vh;
    }
    
    p{
        width: 65vw;
    }

}

@media only screen and (max-width: 470px) {

    #corpo {
        width: 90vw;
    }
    
    .notdiv {
        width: 90vw;
    }
    
    .name{
        font-size: 1.8vh;
    }
    
    p{
        width: 85vw;
    }

}