#corpo {
    background-color: #202225;
    height: 80vh;
    width: 85vw;
    margin-top: 2.5vh;
    margin-bottom: 5vh;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 0.5vh;
    display: grid;
    grid-template-columns: repeat(2, 42.5vw);
    grid-template-rows: repeat(8, 10vh);
}

#profinfo {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: 20vh auto;
}

#pubico {
    background-size: cover;
    background-position: center;
    height: 12.5vh;
    width: 12.5vh;
    margin-top: 3.5vh;
    margin-left: 1.5vw;
    border-radius: 100%;
    border: 0.5vh solid #40444B;
    transition: 0.3s;
    display: grid;
}

#pubico:hover {
    border-color: #2F3136;
}

#pubname {
    margin-top: 7.5vh;
}

#invbtn {
    background-color: #0000;
    border: none;
}

#imagecont {
    margin-left: auto;
    margin-right: auto;
    width: 38vw;
    max-height: 50vh;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 8;
    overflow-y: hidden;
}

#pubimg {
    object-fit: contain;
    margin: auto;
    height: 100%;
    width: 100%;
    max-width: 38vw !important;
    max-height: 50vh !important;
}

#pubtxt {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

#msg {
    width: 38vw;
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
}

#commentscont {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 8;
}

.comentario {
    min-height: 10vh;
    width: 38vw;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F3136;
    border-radius: 0.5vh;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.headconmsg {
    display: grid;
    grid-template-columns: 12vh 1fr;
}

.headconus {
    margin-top: 2.5vh;
}

.conico {
    height: 8vh;
    width: 8vh;
    border-radius: 100%;
    border: 0.40vh solid #40444B;
    margin-top: 1.60vh;
    margin-left: 1vw;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    display: grid;
}

.conico:hover {
    border-color: #202225;
}

.conmsg {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: justify;
}

#comentbar {
    position: fixed;
    height: 5vh;
    width: 85vw;
    margin-top: 80vh;
    margin-left: 7.5vw;
    border-radius: 0.5vh;
    background-color: #2F3136;
    display: grid;
    grid-template-columns: 70vw 15vw;
}
#gbr{
    display: none;
}

#comentartxt {
    background-color: #2F3136;
    border: none;
    padding-left: 2.5vw;
}

#comentarbtn {
    background-color: #40444B;
    border: none;
    transition: 0.3s;
}

#comentarbtn:hover {
    background-color: #2F3136;
}

#postmenubg{
    position: fixed;
    background-color: #0D0E0FAA;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    display: none;
}
#postmenubg.active{
    display: block;
}
#postmenu{
    background-color: #202225;
    height: 15vh;
    width: 15vw;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 42.5vh;
    border-radius: 0.5vh;
    text-align: center;
}
#postmenu a{
    color: #FFF;
    margin-top: 1.75vh;
    text-decoration: none;
    transition: 0.3s;
}
#postmenu a:hover{
    color: #AFAFAF;
}
.pmbtn{
    color: #fff;
    background-color: #0000;
    border: none;
    transition: 0.3s;
}
.pmbtn:hover{
    color: #AFAFAF;
}

@media only screen and (max-width: 1024px) {

    #corpo {
        height: auto;
        width: 90vw;
        grid-template-columns: 90vw;
        grid-template-rows: 20vh auto auto auto;
        padding-bottom: 10vh;
    }
    
    #profinfo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: 20vh auto;
    }
    
    #pubico {
        margin-top: 1.5vh;
        margin-left: 1.5vw;
    }
    
    #pubname {
        font-size: 2.6vh;
        margin-top: 6.5vh;
    }
    
    #imagecont {
        width: 88vw;
        max-height: 88vh;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #pubimg {
        max-width: 88vw !important;
        max-height: 88vh !important;
    }
    
    #pubtxt {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #msg {
        width: 88vw;
        margin-top: 0vh;
        margin-bottom: 5.5vh;
    }
    
    #commentscont {
        height: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .comentario {
        width: 88vw;
        grid-template-rows: repeat(2, auto);
    }
    
    .headconus {
        font-size: 2.5vh;
        margin-top: 4vh;
    }
    
    #comentbar {
        width: 90vw;
        margin-top: 70vh;
        margin-left: 5vw;
        grid-template-columns: 75vw 15vw;
    }

    #gbr{
        height: 15vh;
        width: 100vw;
        margin-top: 75vh;
        display: block;
        background-color: #111214;
        position: fixed;
    }
    
    #postmenu{
        height: 20vh;
        width: 30vw;
    }
    #postmenu a{
        margin-top: 3vh;
    }
}

@media only screen and (max-width: 470px) {
    
    #corpo {
        height: auto;
        width: 90vw;
        grid-template-columns: 90vw;
        grid-template-rows: 20vh auto auto auto;
        padding-bottom: 10vh;
    }
    
    #profinfo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-template-columns: 15vh auto;
    }
    
    #pubico {
        margin-top: 1vh;
        margin-left: 1.5vw;
    }
    
    #pubname {
        font-size: 2vh;
        margin-top: 6.5vh;
    }
    
    #imagecont {
        width: 88vw;
        max-height: 88vh;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    #pubimg {
        max-width: 88vw !important;
        max-height: 88vh !important;
    }
    
    #pubtxt {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    #msg {
        width: 88vw;
        margin-top: 0vh;
        margin-bottom: 5.5vh;
    }
    
    #commentscont {
        height: auto;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .comentario {
        width: 88vw;
        grid-template-rows: repeat(2, auto);
    }
    
    .headconus {
        font-size: 2vh;
        margin-top: 4vh;
    }
    
    #comentbar {
        width: 90vw;
        margin-top: 70vh;
        margin-left: 5vw;
        grid-template-columns: 65vw 25vw;
    }

    #gbr{
        height: 15vh;
        width: 100vw;
        margin-top: 75vh;
        display: block;
        background-color: #111214;
        position: fixed;
    }
    
    #postmenu{
        height: 20vh;
        width: 60vw;
    }
    #postmenu a{
        margin-top: 3vh;
    }
}