@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
margin: 0;
overflow-x: hidden;
}
body{
background-image: url(../img/bgs/default.png);
background-size: cover;
background-position: center;
background-attachment: fixed;
font-family: Poppins, sans-serif;
font-size: 1.5vh;
color: white;
text-align: center;
}
#head{
height: 10vh;
width: 100vw;
display: grid;
grid-template-columns: 20vw 60vw 20vw;
}
#logo{
background-image: url(../img/logos/white.png);
background-size: 15vw;
background-position: center;
background-repeat: no-repeat;
}
#form{
margin-top: 2.5vh;
height: 5vh;
display: grid;
grid-template-columns: repeat(3, 1fr);
}
#perico{
height: 50vh;
width: 50vh;
background-position: center;
background-size: cover;
margin-left: auto;
margin-right: auto;
margin-top: 5vw;
border-radius: 100%;
}
#lvl{
color: #ABB2B9;
}
h2{
color: #ABB2B9;
}
h3{
color: #ABB2B9!important;
}
